 /* reset */

html, body, object, img {
    margin: 0;
    padding: 0;
	}

a:active, a:hover { outline: 0; }
img { border: 0; }

/* structure */

#content{
	width: 300px;
	height: 600px;
	overflow: hidden;
	position: relative;
	background-color:#ffffff;
	}
	
#border {
	position: absolute;
	top: 0;
	left: 0;
	width: 298px;
	height: 598px;
	border: 1px solid #9c9c9c;
}

/* elements */

#bg, #logo, #copy1a, #copy1b, #copy1c, #copy1d, #copy1e, #copy1f, #copy1g, #copy2a, #copy2b, #copy2c, #copy2d, #copy2e, #cta   {
  	display: block;
	position: absolute;
 	width: 300px;
	height: 600px;
	opacity: 0;
	top: 0px;
	left: 0px;
}

#bg{
	top: -600px;
	opacity: 1;
    z-index: 117;
	background: url(bg.jpg) 0px 0px no-repeat;
	}
	
#logo{
    z-index: 118;
	background: url(sprite_1.png) 0px 0px no-repeat;
	}
	
#copy1a{
    z-index: 116;
	background: url(sprite_1.png) -300px 0px no-repeat;
	}
	
#copy1b{
    z-index: 116;
	background: url(sprite_1.png) -600px 0px no-repeat;
	}
	
#copy1c{
    z-index: 116;
	background: url(sprite_2.png) -0px 0px no-repeat;
	}
	
#copy1d{
    z-index: 116;
	background: url(sprite_2.png) -300px 0px no-repeat;
	}
	
#copy1e{
    z-index: 116;
	background: url(sprite_2.png) -600px 0px no-repeat;
	}

#copy1f{
    z-index: 116;
	background: url(sprite_3.png) 0px 0px no-repeat;
	}
	
#copy2a{
    z-index: 118;
	background: url(sprite_3.png) -300px 0px no-repeat;
	}
	
#copy2b{
    z-index: 118;
	background: url(sprite_3.png) -600px 0px no-repeat;
	}
	
#copy2c{
    z-index: 118;
	background: url(sprite_4.png) -0px 0px no-repeat;
	}
	
#copy2d{
    z-index: 118;
	background: url(sprite_4.png) -300px 0px no-repeat;
	}

#cta{
    z-index: 118;
	background: url(sprite_4.png) -600px 0px no-repeat;
	}
	
/*#roadHolder{
	position: absolute;
	width:240px;
	height:2680px;
	left:0px;
	top: 0px;
	display:block;
}*/

#road{
	position: absolute;
	width:320px;
	height:2680px;
	left:-20px;
	top: -1750px;
	display:block;
	background: url(imgRoad_300x600.jpg) 0 0 repeat-y;
}

#roadTop{
	position: absolute;
	width:320px;
	height:722px;
	left: 0px;
	top: 1239px;
	display:block;
	opacity:0;
	background: url(road_top.jpg) 0 0 no-repeat;
}

#carHolder{
	position: absolute;
	width:300px;
	height:600px;
	left:0px;
	top: -220px;
	display:block;
}
#car{
	position: absolute;
	width:245px;
	height:217px;
	left:60px;
	top: 525px;
	display:block;
	background: url(imgCar300x250.png) 0 0 no-repeat;
}

#signLeft{
	position: absolute;
    top: 430px;
    left: 88px;
    width: 121px;
    height: 119px;
	overflow:hidden;
	opacity:0;
}

#signA, #signB, #signC, #signD, #signE, #signF, #trackerA, #trackerB {
  	display: block;
	position: absolute;
 	width: 121px;
	height: 119px;
	opacity: 1;
	top: 0px;
	left: 0px;
}

#signA{
    z-index: 113;
	background: url(left_sprite.png) 0px 0px no-repeat;
	}
	
#signB{
    z-index: 113;
	background: url(left_sprite.png) -121px 0px no-repeat;
	}
	
#signC{
    z-index: 113;
	background: url(left_sprite.png) -242px 0px no-repeat;
	}
	
#signD{
    z-index: 113;
	background: url(left_sprite.png) -363px 0px no-repeat;
	}
	
#signE{
	opacity: 0;
    z-index: 115;
	background: url(left_sprite.png) -484px 0px no-repeat;
	}
	
#signF{
	opacity: 0;
    z-index: 115;
	background: url(left_sprite.png) -605px 0px no-repeat;
	}
	
#trackerA{
	width: 46px;
	height: 48px;
    z-index: 112;
	background: url(tracker.png) 0px 0px no-repeat;
	-webkit-transform: translate( 11px, 12px) scale(0.4);
	-ms-transform: translate( 11px, 12px) scale(0.4);
	-moz-transform: translate( 11px, 12px) scale(0.4);
	transform: translate( 11px, 12px) scale(0.4);
	}
	
#trackerB{
	width: 46px;
	height: 48px;
    z-index: 112;
	background: url(tracker.png) 0px 0px no-repeat;
	-webkit-transform: translate( 12px, 64px) scale(0.4);
	-ms-transform: translate( 12px, 64px) scale(0.4);
	-moz-transform: translate( 12px, 64px) scale(0.4);
	transform: translate( 12px, 64px) scale(0.4);
	}

#signRight{
	position: absolute;
    top: 400px;
    left: 122px;
	width: 140px;
    height: 160px;
	overflow:hidden;
	opacity:0;
}

#panelBG{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #FFFFFF;
	background-color:#000000;
	opacity:0.5;
}

#lineLeft{
	position: absolute;
    top: 440px;
    left: 18px;
    width: 160px;
    height: 4px;
	/*border-style: dotted none none none;
	border-color:#FFFFFF;*/
	-webkit-transform: rotate(59deg);
	-ms-transform: rotate(59deg);
	-moz-transform: rotate(59deg);
	transform: rotate(59deg);
	overflow:hidden;
}

#dottedLeft{
	position: absolute;
	top: 0px;
    left: 165px;
    width: 160px;
    height: 4px;
	border-style: dotted none none none;
	border-color:#FFFFFF;
}
#lineRight{
	position: absolute;
	top: 409px;
    left: 95px;
    width: 210px;
    height: 5px;
	/*border-style: dotted none none none;
	border-color:#FFFFFF;*/
	-webkit-transform: rotate(-75deg);
	-ms-transform: rotate(-75deg);
	-moz-transform: rotate(-75deg);
	transform: rotate(-75deg);
	overflow:hidden;
}
#dottedRight{
	position: absolute;
	position: absolute;
    top: 0px;
    left: -221px;
    width: 210px;
    height: 5px;
	border-style: dotted none none none;
	border-color:#FFFFFF;
}

#rightCopy{
	position: absolute;
	width:140px;
	height:160px;
	left:0px;
	top: 0px;
	opacity:1;
	display:block;
	background: url(rightCopy.png) 0 0 no-repeat;
}

#dummy{
	position: absolute;
	width:300px;
	height:600px;
	left:0px;
	top: 0px;
	opacity:0.5;
	background: url(dummy.jpg) 0 0 no-repeat;
}

#street{
	position: absolute;
	width: 140px;
    height: 160px;
	left:0px;
	top: 0px;
	opacity:1;
	display:block;
	background: url(street.png) 0 0 no-repeat;
}

#lineHolder{
	position: absolute;
    width: 140px;
    height: 60px;
    left: 16px;
    top: 93px;
    opacity: 1;
    overflow: hidden;
    -webkit-perspective: 150px;
    -ms-perspective: 150px;
    -moz-perspective: 150px;
    perspective: 150px;
}

#streetLines{
	position: absolute;
	width:5px;
	height:256px;
	left:49px;
	top: -50px;
	opacity:1;
	display:block;
	background: url(street_lines.png) 0 0 no-repeat;
	-webkit-transform: rotateX(30deg);
	-ms-transform: rotateX(30deg);
	-moz-transform: rotateX(30deg);
	transform: rotateX(30deg);
}

#deerHolder{
	position: absolute;
	width:120px;
	height:106px;
	left:0px;
	top: 0px;
	opacity:1;
	display:block;
	-webkit-transform: translate( 0px, 0px) scale(0.4);
	-ms-transform: translate( 0px, 0px) scale(0.4);
	-moz-transform: translate( 0px, 0px) scale(0.4);
	transform: translate( 0px, 0px) scale(0.4);
}

#deerBox{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: absolute;
	width: 70px;
	height: 70px;
	opacity:0;
	border: 2px solid #FFFFFF;
	-webkit-transform: translate( -25px, 28px) scale(1.2);
	-ms-transform: translate( -25px, 28px) scale(1.2);
	-moz-transform: translate( -25px, 28px) scale(1.2);
	transform: translate( -25px, 28px) scale(1.2);
}

#deer{
	position: absolute;
	width:55px;
	height:55px;
	left:-20px;
	top: 35px;
	opacity:1;
	display:block;
	background: url(deer.png) 0 0 no-repeat;
}

#joggerHolder{
	position: absolute;
	width:120px;
	height:106px;
	left:0px;
	top: 0px;
	opacity:1;
	display:none;
	-webkit-transform: translate( 0px, 0px) scale(0.1);
	-ms-transform: translate( 0px, 0px) scale(0.1);
	-moz-transform: translate( 0px, 0px) scale(0.1);
	transform: translate( 0px, 0px) scale(0.1);
}

#joggerBoxA{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: absolute;
	width: 25px;
	height: 25px;
	opacity:0;
	border: 2px solid #FFFFFF;
	-webkit-transform: translate( 76px, 20px) scale(1);
	-ms-transform: translate( 76px, 20px) scale(1);
	-moz-transform: translate( 76px, 20px) scale(1);
	transform: translate( 76px, 20px) scale(1);
}

#joggerBoxB{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: absolute;
	width: 35px;
	height: 48px;
	opacity:0;
	border: 2px solid #FFFFFF;
	-webkit-transform: translate( 70px, 40px) scale(1);
	-ms-transform: translate( 70px, 40px) scale(1);
	-moz-transform: translate( 70px, 40px) scale(1);
	transform: translate( 70px, 40px) scale(1);
}

#jogger{
	position: absolute;
	width:41px;
	height:90px;
	left:67px;
	top: 20px;
	opacity:1;
	display:block;
	background: url(jogger.png) 0 0 no-repeat;
}

.show{
	display: block !important;
}

a.click-through{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 9999;
	background: #ffffff;
    }

/* Animations */

.animClass {
	-webkit-transform: translate3d(0, 0, 0); /* Force Hardware Acceleration */
	}
	
.transition-1{
	-webkit-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-moz-transition: all 2s ease;
	transition: all 2s ease;
	}

.transition-2{
	-webkit-transition: all 3s ;
	-ms-transition: all 3s ;
	-moz-transition: all 3s ;
	transition: all 3s ;
	
	-webkit-transition: all 3s cubic-bezier(1,.34,.97,.77);
	-ms-transition: all 3s cubic-bezier(1,.34,.97,.77);
	-moz-transition: all 3s cubic-bezier(1,.34,.97,.77);
	transition: all 3s cubic-bezier(1,.34,.97,.77);
	}

.transition-3{
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
.transition-3a{
	-webkit-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
	}
	
.transition-4{
	-webkit-transition: all 0.2s ;
	-ms-transition: all 0.2s ;
	-moz-transition: all 0.2s ;
	transition: all 0.2s ;
	
	-webkit-transition: all 0.2s cubic-bezier(.73,.93,.83,1.22);
	-ms-transition: all 0.2s cubic-bezier(.73,.93,.83,1.22);
	-moz-transition: all 0.2s cubic-bezier(.73,.93,.83,1.22);
	transition: all 0.2s cubic-bezier(.73,.93,.83,1.22);
	}
	
.transition-5{
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	}
	
.transition-6{
	-webkit-transition: all 5.5s;
	-ms-transition: all 5.5s;
	-moz-transition: all 5.5s;
	transition: all 5.5s;
	}


/* chip */

.moveDotLeft{
	-webkit-transform: translate(-84px,0px) !important;
	-ms-transform: translate(-84px,0px) !important;
	-moz-transform: translate(-84px,0px) !important;
	transform: translate(-155px,0px) !important;
}
.moveDotRight{
	-webkit-transform: translate(209px,0px) !important;
	-ms-transform: translate(209px,0px) !important;
	-moz-transform: translate(209px,0px) !important;
	transform: translate(209px,0px) !important;
}

.scaleSmall{
	-webkit-transform: scale(0.5) !important;
	-ms-transform: scale(0.5) !important;
	-moz-transform: scale(0.5) !important;
	transform: scale(0.5) !important;
}
.scaleNormal_move_Right{
	-webkit-transform: translate(108px,-300px) scale(1) !important;
	-ms-transform: translate(108px,-300px) scale(1) !important;
	-moz-transform: translate(108px,-300px) scale(1) !important;
	transform: translate(-6px,-258px) scale(1) !important;
}
.scaleNormal_move_Left{
	-webkit-transform: translate(-109px,-184px) scale(1) !important;
	-ms-transform: translate(-109px,-184px) scale(1) !important;
	-moz-transform: translate(-109px,-184px) scale(1) !important;
	transform: translate(-109px,-184px) scale(1) !important;
}

.trackerAScale{
	-webkit-transform: translate(12px,12px) scale(1) !important;
	-ms-transform: translate(12px,12px) scale(1) !important;
	-moz-transform: translate(12px,12px) scale(1) !important;
	transform: translate(12px,12px) scale(1) !important;
}

.trackerBScale{
	-webkit-transform: translate(12px,64px) scale(1) !important;
	-ms-transform: translate(12px,64px) scale(1) !important;
	-moz-transform: translate(12px,64px) scale(1) !important;
	transform: translate(12px,64px) scale(1) !important;
}

.deerScale{
	-webkit-transform: translate(-90px,120px) scale(1.5) !important;
	-ms-transform: translate(-90px,120px) scale(1.5) !important;
	-moz-transform: translate(-90px,120px) scale(1.5) !important;
	transform: translate(-90px,120px) scale(1.5) !important;
}

.boxScale{
	-webkit-transform: translate(-27px,28px) scale(1) !important;
	-ms-transform: translate(-27px,28px) scale(1) !important;
	-moz-transform: translate(-27px,28px) scale(1) !important;
	transform: translate(-27px,28px) scale(1) !important;
}

.joggerScale{
	-webkit-transform: translate(90px,120px) scale(1.5) !important;
	-ms-transform: translate(90px,120px) scale(1.5) !important;
	-moz-transform: translate(90px,120px) scale(1.5) !important;
	transform: translate(90px,120px) scale(1.5) !important;
}

.moveDown{
	-webkit-transform: translate( 33px, 116px) rotate(0deg) !important;
	-ms-transform: translate( 33px, 116px) rotate(0deg) !important;
	-moz-transform: translate( 33px, 116px) rotate(0deg) !important;
	transform: translate( 33px, 116px) rotate(0deg) !important;
}

.stopCar{
	-webkit-transform: translate( 0px, 217px) rotate(0deg) !important;
	-ms-transform: translate( 0px, 217px) rotate(0deg) !important;
	-moz-transform: translate( 0px, 217px) rotate(0deg) !important;
	transform: translate( 0px, 217px) rotate(0deg) !important;
}

.stopRoad{
	-webkit-transform: translate( 0px, 565px) rotate(0deg) !important;
	-ms-transform: translate( 0px, 565px) rotate(0deg) !important;
	-moz-transform: translate( 0px, 565px) rotate(0deg) !important;
	transform: translate( 0px, 565px) rotate(0deg) !important;
}
.moveUp{
	-webkit-transform: translate( 0px, -200px) rotate(0deg) !important;
	-ms-transform: translate( 0px, -200px) rotate(0deg) !important;
	-moz-transform: translate( 0px, -200px) rotate(0deg) !important;
	transform: translate( 0px, -200px) rotate(0deg) !important;
}

.roadDown{
	-webkit-transform: translate( -7px, 900px) scale(1.1) !important;
	-ms-transform: translate( -7px, 900px) scale(1.1) !important;
	-moz-transform: translate( -7px, 900px) scale(1.1) !important;
	transform: translate( -7px, 900px) scale(1.1) !important;
}

.down{
	-webkit-transform: translate( 0px, 600px);
	-ms-transform: translate( 0px, 600px);
	-moz-transform: translate( 0px, 600px);
	transform: translate( 0px, 600px);
}


/* fades */

.fade-in{ opacity: 1 !important; }
.fade-half{ opacity: 0.7 !important; }
.fade-out{ opacity: 0 !important; }



.carBounce{
	animation-duration: 3.85s;
	animation-iteration-count: 1;/*number of loops*/
	animation-timing-function: ease-in-out;
	animation-name: carAnim;
	animation-direction: normal;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 3.85s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: carAnim;
	-webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-duration: 3.85s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-name: carAnim;
	-moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes carAnim {
	0%      { transform:translate(33px,116px); -webkit-transform:translate(33px,116px); }
	40%      { transform:translate(44px,80px); -webkit-transform:translate(44px,80px); }
	60%      { transform:translate(42px,115px); -webkit-transform:translate(42px,115px); }	
	80%      { transform:translate(39px,120px); -webkit-transform:translate(39px,120px); }	
	100%      { transform:translate(52px,-500px); -webkit-transform:translate(42px,-500px); }		
}

@keyframes carAnim {
	0%      { transform:translate(33px,116px); -webkit-transform:translate(33px,116px); }
	40%      { transform:translate(44px,80px); -webkit-transform:translate(44px,80px); }
	60%      { transform:translate(42px,115px); -webkit-transform:translate(42px,115px); }	
	80%      { transform:translate(39px,120px); -webkit-transform:translate(39px,120px); }	
	100%      { transform:translate(52px,-500px); -webkit-transform:translate(42px,-500px); }			
}

@-moz-keyframes carAnim {
	0%      { transform:translate(33px,116px); -webkit-transform:translate(33px,116px); }
	40%      { transform:translate(44px,80px); -webkit-transform:translate(44px,80px); }
	60%      { transform:translate(42px,115px); -webkit-transform:translate(42px,115px); }	
	80%      { transform:translate(39px,120px); -webkit-transform:translate(39px,120px); }	
	100%      { transform:translate(52px,-500px); -webkit-transform:translate(42px,-500px); }	
}

/*.roadBounce{
	animation-duration: 3.85s;
	animation-iteration-count: 1;number of loops
	animation-timing-function: ease-in-out;
	animation-name: roadAnim;
	animation-direction: normal;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 3.85s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: roadAnim;
	-webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-duration: 3.85s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-name: roadAnim;
	-moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes roadAnim {
	0%      { transform:translate(0px,0px); -webkit-transform:translate(0px,0px); }	
	8%      { transform:translate(21px,0px); -webkit-transform:translate(21px,0px); }
	60%      { transform:translate(17px,0px); -webkit-transform:translate(17px,0px); }	
	80%      { transform:translate(14px,0px); -webkit-transform:translate(14px,0px); }	
	100%      { transform:translate(17px,0px); -webkit-transform:translate(17px,0px); }		
}

@keyframes roadAnim {
	0%      { transform:translate(33px,0px); -webkit-transform:translate(33px,0px); }	
	40%      { transform:translate(54px,0px); -webkit-transform:translate(54px,0px); }
	60%      { transform:translate(50px,0px); -webkit-transform:translate(50px,0px); }	
	80%      { transform:translate(47px,0px); -webkit-transform:translate(47px,0px); }	
	100%      { transform:translate(50px,0px); -webkit-transform:translate(50px,0px); }			
}

@-moz-keyframes roadAnim {
	0%      { transform:translate(33px,0px); -webkit-transform:translate(33px,0px); }	
	40%      { transform:translate(54px,0px); -webkit-transform:translate(54px,0px); }
	60%      { transform:translate(50px,0px); -webkit-transform:translate(50px,0px); }	
	80%      { transform:translate(47px,0px); -webkit-transform:translate(47px,0px); }	
	100%      { transform:translate(50px,0px); -webkit-transform:translate(50px,0px); }			
}
*/
.animStreet{
	animation-duration: 3s;
	animation-iteration-count: infinite;/*number of loops*/
	animation-timing-function: linear;
	animation-name: streetAnim;
	animation-direction: normal;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: streetAnim;
	-webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: streetAnim;
	-moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes streetAnim {
	0%      { background-position: 0px -178px; }	
	100%    { background-position: 0px 0px; }
}

@keyframes streetAnim {
	0%      { background-position: 0px -178px; }	
	100%    { background-position: 0px 0px; }
}

@-moz-keyframes streetAnim {
	0%      { background-position: 0px -178px; }	
	100%    { background-position: 0px 0px; }
}